@font-face {
    font-family: 'MyFont';
    src: url('./方正小标宋简体.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon.png') no-repeat;
}